/* Font */
@font-face {
  font-family: "Semibold";
  src: url(../font/static/PlusJakartaSans-SemiBold.ttf);
}

:root {
  --color-bg: #ffffff;
  --color-main: #14ae5c;
}

/* Navbar */
nav {
  font-family: "Semibold";
  background-color: #ffffff;
}

#logo {
  height: 2.4em;
}

#dot2 {
  height: 7px;
  width: 7px;
  background-color: #6f7376;
  border-radius: 50%;
  display: inline-block;
}

#artikel-lainnya,
#infografis-lainnya {
  border: 2px solid var(--color-main) !important;
  font-family: "Semibold";
  color: var(--color-main) !important;
}

#artikel-lainnya:hover,
#infografis-lainnya:hover {
  background-color: #14ae5c;
  border: 2px solid var(--color-main) !important;
  font-family: "Semibold";
  color: var(--color-bg) !important;
}

.wrapperLinkTitleArticles {
  cursor: pointer;
  color: black;
  text-decoration: none;
  text-decoration-color: black;
}

.wrapperLinkTitleArticles:hover {
  cursor: pointer;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

.btnDonasi {
  background-color: var(--color-main) !important;
  color: var(--color-bg) !important;
}

#artikel {
  padding-top: 4rem;
}

.card-artikel {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
  border-radius: 8px;
  padding-bottom: 10px;
}

.card-artikel:hover {
  cursor: pointer;
  box-shadow: 0px 8px 28px rgba(1, 1, 1, 0.15);
  border-radius: 8px;
}

.card-infografis {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
  border-radius: 8px;
}

.card-infografis:hover {
  box-shadow: 0px 8px 28px rgba(1, 1, 1, 0.15);
  border-radius: 8px;
}

/* Footer */
footer {
  font-family: "Semibold";
  background-color: var(--color-main);
}

.judulDeskripsiEnvironthink {
  color: #25ff01 !important;
}

.container p {
  color: white;
}

#copyRightLine {
  height: 2px;
  border: none;
  background-color: white;
}

/* Media Query */
@media screen and (max-width: 576px) {
  #medsos {
    margin-top: 1em;
  }

  #country {
    margin-top: 0.2em;
  }
}